/* posts/static/posts/style.css */

body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

/* Header */
header {
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
}

/* Main content */
main{
    margin: 20px;
}

/* Sticky Notes List */
ul{
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

li{
    margin-bottom: 20px;
    background-color: #fff9c4;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s; box-shadow: 0.2s;
}

/* Hover effect over Sticky Notes */
li:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

/* Sticky Note Title */
li h3 {
    margin-top: 0;
    color: #333;
}

/* Sticky Note Content*/
li p {
    color: #555;
    line-height: 1.5;
}

/* Buttons */
a, button {
    display: inline-block;
    margin-top: 10px;
    padding:  8px 12px;
    background-color: #333;
    color: whitesmoke;
    cursor: pointer;
}

a:hover, button:hover {
    background-color: aqua;
}

/* Footer */
footer{
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    margin-top: 40px;
}
